
@{
    ViewData["Title"] = "ImpportExceltoSqlServer";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="container">
                <form action="ImpportExceltoSqlServer" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" class="form-control btn btn-warning" name="file" />
                        <br />
                        <button type="submit" class="btn btn-info">
                            Select file to Import
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

